/* src/components/Home.css */
.home {
    background: linear-gradient(to right, #01015b, #014fe0, #4ae2d8);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Arial', sans-serif;
    padding:none;
    margin: none;
}

.content {
    text-align: center;
    color: #fff;
}

h1 {
    font-size: 3.5em;
    margin-top:-100px;
    margin-bottom: 20px;
}

p {
    font-size: 1.5em;
    margin-bottom: 30px;
}

.button-container {
    margin-top: 20px;
}

.start-button {
    padding: 15px 30px;
    font-size: 20px;
    color: #fff;
    background-color: #218f00;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
    height: 50px;
    width:100px;
    font-weight: bold;

}

.start-button:hover {
    background-color: #004d04;
}
